@{
    ViewData["Title"] = "Login";
}
@model Finances.Web.ViewModels.LoginViewModel

@using (Html.BeginForm("Login", "Account"))
{
    @Html.Label("Usuário")
    @Html.TextBoxFor(o => o.Username)
    @Html.Label("Senha")
    @Html.TextBoxFor(o => o.Password, new { @class = "form-control", @type = "password" })
    <button class="btn btn-primary" type="submit">Login</button>
}
